apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: model-serving
  labels:
    app: {{ .Release.Name }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8099"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: {{ .Release.Name }}
  type: LoadBalancer
  ports:
    # port app (30000)
    - name: app
      port: 30000
      targetPort: 30000
      protocol: TCP
    # port metrics cho Prometheus (8099)
    - name: metrics
      port: 8099
      targetPort: 8099
      protocol: TCP
